@charset "utf-8";

#au{
    position: relative;
    margin-top: 100px;
    margin-left: 10%;
    font-weight: bold;
}

#about{
    margin-left: 100px;
    margin-right: 100px;
    font-weight: bold;
}

.text-in-image{
    background-image: url(background.png);
    background-size: 100% 100%;
    position: relative;
    padding: 40px 40px 150px 40px;
    margin-right: 100px;
}

#intro2{
    padding-top: 40px;
}

#intro2 p, #intro3 p{
    margin-left: 20px;
    margin-right: 60px;
}