@charset "utf-8";

#cu{
    position: relative;
    margin-top: 100px;
    margin-left: 10%;
    font-weight: bold;
}

#contact{
    margin-left: 100px;
    margin-right: 100px;
    font-weight: bold;
}

.required{
    color: red;
}

#submit{
    border: 2px solid black;
    background-color: black;
    color: whitesmoke;
    font-size: 15px;
}